@mixin resizeDivToBgImg( $url, $imgWidth, $imgHeight ) { 
	background-image: url( $url );
	background-size: contain;
	background-repeat: no-repeat;
	// min-height:304px; 
	width: 100%;
	height: 0;
	$percentage: ( $imgHeight / $imgWidth ) * 100%; 

	padding-top: $percentage;
}