.video-les {
	position: relative ;
	width: 100%;
	height: auto;
}

.video-js {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}

.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.vjs-big-play-centered .vjs-big-play-button {
	background: url ("../../site_assets/images/icons/play-icon.svg") !important;
	border-radius: 75px;
	height: 50px;
	width: 50px;
	margin-left: -30px;
	transform: scale(2);
	transform-origin: center center;

	@include respond-to( xxs ) { transform: scale(1); }
	@include respond-to( xs ) { transform: scale(1.2); }
	@include respond-to( sm ) { transform: scale(1.4); }
	@include respond-to( md ) { transform: scale(1.6); }
}