*, *:before, *:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}




body, html {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%; /* Some mobile devices don't scale up text size on device rotation */
}




body {
    margin: 0;
    background-color: $background;
    // font-family: Campton_Medium, Helvetica, sans-serif;
    // letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004); /* Turns no ClearType for Windows machines */
    overflow-x: hidden;

    &.display-scrim {
        overflow: hidden;
    }

    &.noscroll {
        overflow-y: hidden;
    }
}




ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
        text-decoration: none;
        list-style: none;
    }
}




a {
    color: $white;
    text-decoration: none;
    outline: 0;

    &:hover, &:active, &:focus {
        color: $white;
        text-decoration: none;
    }
}




h1, h2, h3, h4, h5, h6 {
    // font-family: Campton_Bold, Helvetica, sans-serif;
    font-size: 2em;
}




.main-container {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}



.modal-backdrop {
    background-color: $black;

    &.in {
        opacity: 0.95 !important;
    }
}


/********************************************************************************/
/* HAMBURGER MENU */
/********************************************************************************/
/* .modal-wrapper {
    position: absolute;
    margin: 20px 0 0 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;

    #modal-close {
        width: 25px;
        height: 16px;
        margin: 0 auto;
        margin-top: 20px;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    #modal-close span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $black;
        border-radius: 0px;
        opacity: 1;
        left: 0;
        transform: rotate(180deg);
        transition: .25s ease-in-out;
    }

    #modal-close span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
        background: $black;
    }

    #modal-close span:nth-child(2) {
        transform: rotate(45deg);
        background: $black;
    }

    #modal-close span:nth-child(3) {
        transform: rotate(-45deg);
        background: $black;
    }

    #modal-close span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
        background: $black;
    }
} */